@namespace TemperatureModule.Webpage.Components.Slides.StartView.RecordPlaceholder.Thermometer

@using TemperatureModule.Webpage.Models
@inject IJSRuntime jsRuntime

<link rel="stylesheet" href="css/myown/Termometer.css">

<div id="wrapper">
    <div id="termometer">
        <div id="water-latestTemperature" style="height:0" data-value="@temperatureUnit.Latest.DataPTValue"></div>
        <div id="water-highestTemperature" style="height:0" data-value="@temperatureUnit.Highest.DataPTValue"></div>
        <div id="water-lowestTemperature" style="height:0" data-value="@temperatureUnit.Lowest.DataPTValue"></div>

        <div id="graduations"></div>
    </div>

    <div id="playground">
        <p id="unit">Celcius C°</p>
    </div>
</div>


@code {
    [Parameter]
    public LatestTemperatureUnit temperatureUnit { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("waterTemperature",
            temperatureUnit.Latest.DataPTValue, temperatureUnit.Highest.DataPTValue, temperatureUnit.Lowest.DataPTValue);
    }
}
