@namespace TemperatureModule.Webpage.Components.Slides.StartView
@using TemperatureModule.Webpage.Components.Slides.StartView.RecordPlaceholder
@using TemperatureModule.Webpage.Components.Slides.StartView.Graph


<link rel="stylesheet" href="css/myown/Carousel.css">

<div class="startView">
    <div style="order:1; border-radius:5px;">
        <RecordsViewComponent></RecordsViewComponent>
    </div>

    <div style="order:3; border-radius:5px; width: 100%">
        <GraphComponent />
    </div>
</div>
