@page "/"

@using TemperatureModule.Webpage.Components

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Lövekulle camping</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
</head>

<body>
        <DataComponent></DataComponent>
</body>
